<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  <style>
    @font-face { font-family: DMSans; src: url('https://ednamode.xyz/DMSans.ttf'); font-display: block; }
  </style>
</head>
<body style="background-color: #E1D6CA;">
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
